*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body{
  width:auto;
  height: auto;
  font-family: 'Josefin Slab', serif;
}

:root{
  scroll-behavior: smooth;
}

header{
  width: 100%;
  height: 40vh;
 
  background-image:linear-gradient(to left, hsla(204, 64%, 44%, 0.575), hsl(141, 100%, 91%)),url(../src/imagenes/LogoU.png);
  background-repeat: no-repeat; 
  
  background-position: center;
 
 text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 20px;
}

#btn-menu{
  display: none;
}

header label{
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #fff;
}

header label:hover{
  cursor: pointer;
  background: rgb(0,0,0,0.3);
}

.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end; /*posiciona el elemento hacia la derecha*/
}

.menu li{
  border-right: 1px solid white;
}

.menu li:hover{
  background: rgb(0,0,0,0.3);
}

.menu li a{
  display: block;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
}
/*buscadores*/
.contenedorDeBusquedas {
  width: 100%;
  height: 20vh;
  background: #fff;
  display: flex;
  justify-content: center;
}

/*.containerBusqueda {
	background: #fff;
	width: 30%;
 
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .2s ease all;
	margin-bottom: 30px;
	padding: 10px;
	position: relative;
	z-index: 200;
	border: 2px solid transparent;
  margin: 1%;
  
}

.containerBusqueda.active,
.containerBusqueda:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
	border: 2px solid hsl(141, 100%, 91%);
}

.containerBusqueda i {
	font-size: 30px;
	margin-left: 30px;
	color: #4e94ab;
}

.containerBusqueda.active:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border-top: 15px solid rgb(210, 255,226);
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	bottom: -30px;
	left: calc(50% - 15px);
}

#filtrarBusqueda, #filtrarTipo{
  background: #fff;
  width: 100%;
  justify-content: center;
  display: flex;
  border: 2px solid transparent;
  font-family:  'Josefin Slab', serif;
  font-size: 20px;
  
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid rgb(210, 255,226);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;*/
}

@media(max-width:868px){
  header label{
    display: block;
  }
  .menu{
    position: absolute;
    background: rgb(156, 211, 236);
    width: 50%;
    margin-left: -70%;
    transition: all 0.5s;
  }
  .menu ul  {
    flex-direction: column;
  }
  .menu li{
    border-top: 1px solid white;
  }
  #btn-menu:checked ~ .menu{
    margin: 0;
  }


}

.img-footer{
  width: 100%;
  height:80vh;
  display: inline-flex;
  flex-direction: wrap;
  justify-content:center;
  align-items: center;
}

.redSocial{
  width: 10%;
}

.contenedor{
  width: 100%;
  height: auto;
  margin:0px 10px 10px 0px;
}

/*.imagen{
  width: 50%;
  background-color: cyan;
  margin: px 50px 75px 100px;
}*/

.tarjeta{
    display: inline-grid;
    width: 25%;
    justify-content: center;
    align-items:center;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
    grid-template-columns: auto;
    height: 40vh;
    background-color: rgb(210, 255,226);
    margin: 0px 20px 20px 50px;
    border-style: hidden;
    

  }

  /*modal*/
.modal{
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  text-align: center;
  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(198, 251, 255); /* Black w/ opacity */
  

  
}




/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*main{
  width: 100%;
  height: 80vh;
  font: 50%;
  background-image:linear-gradient(to left, hsla(210, 30%, 24%, 0.808), hsla(204, 64%, 44%, 0.575)),url(../src/imagenes/thimo-pedersen-dip9IIwUK6w-unsplash.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
h1{
  padding: 0;
  font-size: 100px;
  position: center;
  top: 50%;
  left: 50%;
  color:white ;
 }
 .container{
  width: 100%;
  margin: 0;
}
nav{
  font-size: 30px;
  position:relative;
  top: 0;
  height: 30vh;
  width: 50%;
  right: 0%;
}
.navegador {
  width: 50%;
  font-size: 30px;
  top: 0%;
  float: right;
  clear: right;
  bottom: 30%;
  padding: 60px 0;
}
.logoimg{
  width: 50%;
  height: 30vh;
  font-size: 30px;
  top: 0%;
  float: left;
  clear: right;
}
#logoimg{
  width: 50%;
  height: 28vh;
  top: 0%;
}
.imagen{
  width: 20%;
  height: 70%;
}
#imagen{
  padding:10% ;
  width: 40vh;
  height: 100px;
  flex-direction: center;
  top: 50%;
  .logoimagen{
  width: 15%;
  height: 15%;
  font-size: 30px;
  top: 0%;
  float: left;
  clear: right;
}
}*/